.app {
	width: 100vw;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.target-img-container {
	width: 50px;
	height: 50px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.target-img-container img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	white-space: pre-line;
	gap: 16px;
	padding: 16px;
	z-index: 2;
}