header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 16px;
	box-shadow: 0px 1px 4px 2px rgb(176, 176, 176);
}

.site-branding {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
}

.site-branding img {
	width: 48px;
	height: auto;
}

header button {
	border: none;
	background-color: transparent;
}

header h1 span:first-child {
	color: rgb(72, 72, 255);
}

.fade-in {
	color: rgb(255, 72, 72);
	opacity: 0;
	animation-name: fade-in;
	animation-duration: 1.5s;
	animation-timing-function: ease-in;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

@keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}