.leaderboard-page {
	display: grid;
	grid-template-columns: 1fr 5fr;
}

.leaderboard-page nav {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	padding: 16px;
	background-color: white;
}

.leaderboard-page nav button {
	border: none;
	background-color: transparent;
	font-size: 16px;
	text-align: left;
}

.leaderboard-page nav .active {
	font-weight: bold;
}

.leaderboard-content {
	position: relative;
	display: grid;
	grid-template-rows: auto 1fr;
	background-position: center center;
	gap: 16px;
	padding: 16px;
	padding-bottom: 0px;
}

.leaderboard-content h2 {
	text-align: center;
	color: white;
	text-shadow: 2px 2px 2px black;
}

.background-img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-size: cover;
	filter:contrast(40%);
}

.no-scores-display {
	display: flex;
	align-items: center;
	justify-content: center;
}

.no-scores-display {
	font-size: 18px;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 2px black;
}

@media (max-width: 600px) {
	.leaderboard-page {
		display: grid;
		grid-template-rows: auto 1fr;
		grid-template-columns: 1fr;
		min-width: 0;
		overflow-x: hidden;
		width: 100vw;
	}

	.leaderboard-page nav {
		flex-direction: row;
		gap: 16px;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		overflow-x: scroll;
		padding: 8px;
	}

	.leaderboard-page nav button {
		flex-shrink: 0;
		width: 75px;
		font-size: 12px;
		text-align: center;
		min-width: min-content;
	}
}