.level-img-preview {
	width: 100vw;
}

.img-preview-container {
	position: relative;
	display: block;
	width: max-content;
	height: max-content;
}

.level-img {
	height: auto;
}

.level-img:hover {
	cursor: crosshair;
}