.level-form {
	display: flex;
	flex-direction: column;
	padding: 16px;
	gap: 16px;
}

.level-form section {
	display: flex;
	gap: 16px;
}

#level-title {
	font-size: 24px;
	font-weight: bold;
}

textarea#level-description {
	width: 100%;
	white-space: pre-wrap;
}

.level-edit-buttons {
	display: flex;
	align-items: center;
	justify-content: space-around;
}