.level-img-preview {
	width: 100vw;
	height: auto;
	overflow-x: scroll;
}

.img-preview-container {
	position: relative;
	display: block;
	width: max-content;
	height: max-content;
}

.level-img {
	height: auto;
}