.level-img-preview {
	width: 100vw;
	height: auto;
	overflow-x: scroll;
}

.img-preview-container {
	position: relative;
	display: block;
	width: max-content;
	height: max-content;
}

.level-img {
	height: auto;
}

.target-select {
	position: absolute;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.target-select p {
	font-size: 10px;
	text-transform: uppercase;
	color: inherit;
}