.target-select-btn {
	width: 100%;
	display: block;
	border: none;
	background-color: transparent;
	padding: 4px;
	font-weight: bold;
}

.target-select-btn > div {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 8px;
}

.target-select-btn .target-img-container {
	width: 36px;
	height: 36px;
}