.target-form {
	display: flex;
	align-items: center;
	gap: 16px;
}

.target-form section {
	display: flex;
	align-items: flex-end;
	gap: 16px;
}

.coords-preview {
	font-size: 12px;
}

.add-target-btn {
	text-transform: uppercase;
	font-weight: bold;
	background-color: rgb(0, 0, 163);
	color: white;
	padding: 4px 8px;
	border-radius: 16px;
	transition: var(--bg-col-transition);
}

.add-target-btn:hover {
	background-color: blue;
}