.target-select {
	position: absolute;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.target-select p {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: inherit;
}