.target-form {
	display: flex;
	align-items: center;
	gap: 8px;
}

.target-form section {
	display: flex;
	align-items: center;
	gap: 16px;
}

.coords-preview {
	align-self: flex-end;
	font-size: 12px;
}