.target-preview-cards {
	flex: 1;
	display: flex;
	justify-content: center;
	gap: 16px;
}

.target-preview-card {
	position: relative;
}

.target-preview-card button {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background-color: transparent;
}

.target-preview-card:hover button {
	display: block;
}

.target-preview {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.target-preview-card p {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}