.confirmation-btns {
	align-self: stretch;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.confirmation-btns > button.confirm-btn {
	color: white;
	padding: 4px 8px;
	font-size: 14px;
}

.yes-btn {
	background-color: rgb(165, 0, 0);
	transition: var(--bg-col-transition);
}

.yes-btn:hover {
	background-color: red;
}

.no-btn {
	background-color: rgb(0, 85, 0);
	transition: var(--bg-col-transition);
}

.no-btn:hover {
	background-color: green;
}
